html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    text-align: center;
    line-height: 2;
    background-image: url("../images/currency.jpg");
    background-position: center;
    background-size: cover;
    margin: 70px;
}